[Unit]
Description=Hacking Panel Backend Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/h1x1/hackingpanel
Environment="PATH=/root/h1x1/hackingpanel/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/root/h1x1/hackingpanel/.venv/bin/python /root/h1x1/hackingpanel/run.py
Restart=always
RestartSec=10
StandardOutput=append:/root/h1x1/hackingpanel/backend.log
StandardError=append:/root/h1x1/hackingpanel/backend.log

[Install]
WantedBy=multi-user.target

